target
**/target
.git
.jj
config
tests
ccl
doc
serve-as-bucket
secret_env
.env
Makefile
*.Makefile
docker-compose*.yaml
Dockerfile
fundo.webp
.vscode
server/photos
server/sounds
client-v2/release
client-v2/dist
client-v2/bucket
client-v2/naquadah
