target
**/target
.git
.jj
config
tests
ccl
doc
serve-as-bucket
secret_env
internal_tokens.toml
.env
Makefile
*.Makefile
docker-compose*.yaml
Dockerfile
fundo.webp
.vscode
server/photos
server/sounds
animeitor-client/release
animeitor-client/dist
animeitor-client/bucket
animeitor-client/naquadah
**/server.toml
**/event-secrets.toml
**/.generated
