/target
SECRET
URL
.vercel
.idea
todos-webcast.txt
secrets.txt
urls_placar.txt
Secret.toml
secret_ccl.toml
secret_env
Secrets_secret.toml
internal_tokens.toml
*.pem
server.toml
event-secrets.toml
.generated/
