
.balao_A {
    filter: invert(93%) sepia(68%) saturate(2%) hue-rotate(57deg) brightness(107%) contrast(100%) !important;
}
.balao_B {
filter: invert(0%) sepia(0%) saturate(7497%) hue-rotate(212deg) brightness(90%) contrast(100%) !important;
}
.balao_C {
filter: invert(17%) sepia(95%) saturate(6747%) hue-rotate(358deg) brightness(128%) contrast(116%) !important;
}
.balao_D {
filter: invert(15%) sepia(25%) saturate(7375%) hue-rotate(349deg) brightness(87%) contrast(126%) !important;
}
.balao_E {
filter: invert(90%) sepia(63%) saturate(3562%) hue-rotate(358deg) brightness(108%) contrast(101%) !important;
}
.balao_F {
filter: invert(26%) sepia(97%) saturate(1646%) hue-rotate(102deg) brightness(90%) contrast(104%) !important;
}
.balao_G {
filter: invert(8%) sepia(100%) saturate(7474%) hue-rotate(247deg) brightness(92%) contrast(143%) !important;
}
.balao_H {
filter: invert(62%) sepia(31%) saturate(734%) hue-rotate(133deg) brightness(91%) contrast(91%)  !important;
}
.balao_I {
filter: invert(16%) sepia(81%) saturate(5328%) hue-rotate(296deg) brightness(117%) contrast(119%) !important;
}
.balao_J {
filter: invert(57%) sepia(65%) saturate(3315%) hue-rotate(360deg) brightness(101%) contrast(105%) !important;
}
.balao_K {
filter: invert(54%) sepia(91%) saturate(3217%) hue-rotate(88deg) brightness(126%) contrast(118%) !important;
}
.balao_L {
filter: invert(90%) sepia(50%) saturate(4791%) hue-rotate(102deg) brightness(100%) contrast(103%) !important;
}
.balao_M {
filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(91%) contrast(83%) !important;
}
.balao_N {
filter: invert(86%) sepia(75%) saturate(4397%) hue-rotate(172deg) brightness(97%) contrast(85%) !important;
}
.balao_O {
filter: invert(99%) sepia(95%) saturate(1238%) hue-rotate(167deg) brightness(100%) contrast(81%) !important;
}
