/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato&display=swap'); */
@import url("teams.css");
/* Container holding the image and the text */

* {
  box-sizing: border-box;
}

maratona {
  display: block;
  width: 100%;
}

body {
  color: white;
  font-family: Lato, Ubuntu, sans-serif;
  font-weight: 700;

  background-color: rgb( 0, 177, 64);
  overflow-y: scroll;
}

:root {
  --row-height: 48px;
  --root-top: 0px;
  --root-top-center: calc(100vh / 2);
}

.runstable {
  position: relative;
  margin-top: 3px;
}

/* .runspanel {
  position: relative;
  display: block;
  height: 90vw;
  width: 310px;
} */

.run {
  width: 100%;
  position: absolute;
  display: flex;
}

.run_box {
  transition: top 5s ease 0s;
  position: absolute;
  width: 100%;
}

.run_prefix {
  display: flex;
  flex-grow: 2;
  max-width: 390px;
  min-width: 290px;
}

.titulo {
  /* content:url(/static/assets/titulo-1stPhase.svg); */
  /* content:url(/static/assets/titulo-final.svg); */
  font-size: 24px;
  max-width: 388px;
  min-width: 288px;
  flex-grow: 2;
}

.time {
  flex-grow: 2;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.cell {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4F5B62;
  margin: 1px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
}

.quadrado {
  /* width: 40px; */
  min-width: 40px;
}

.center .not-tried{
  background-color: #27333a;
}
.center .time{
  background-color: #27333a;
}
.center .problema{
  background-color: #27333a;
}
.center .problema{
  background-color: #27333a;
}

.accept {
  position: relative;
  background-color: #305745;
}

.accept-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  content: url("assets/balao2.svg");
  background-color: transparent;
}

.not-tried {
  text-align: center;
  background-color: #4F5B62;
}

.unsolved {
  text-align: center;
  background-color: #573a41;
}

.inqueue {
  text-align: center;
  animation: blinkingBackground 2s;
  background-color: #F4D03F;
  color: black;
}


/* Top right text */
.accept-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 15px;
  color: white;
  position: relative;
  text-shadow: 0px 1px 2px #000, 0px -1px 2px #000, 1px 0px 2px #000, -1px 0px 2px #000;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  width: 31px;
  height: 18px;
  bottom: 10px;
  right: 6px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

/* Top right text */
.top-center {
  position: absolute;
  top: 10px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

/* Bottom right text */
.bottom-center {
  position: absolute;
  bottom: 10px;
  right: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.titulo.sede_brasil {
  /* content:url(/static/assets/titulo-1stPhase.svg); */
  /* content:url(/static/assets/titulo-final.svg); */
  font-size: 24px;
}
.titulo.sede_la {
  /* content:url(/static/assets/titulo-1stPhase.svg); */
  content:url(/static/assets/titulo-icpc.svg);
  font-size: 24px;
}

.submission-title{
  /* width: 302px; */
  /* height: 45px; */
  background-color: #263238;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  border-radius: 5px;
  padding: 2px;
  font-size: 24px;
}

.nomeEscola {
  display: none;
}

.nomeTime {
  font-size: 14px;
}

.problema {
  text-align: center;
  font-size: 30px;
}

.colocacao {
  text-align: center;
  font-size: 18px;
}

.cima {
  font-size: 20px;
  font-weight: 800;
}
.baixo {
  font-size: 14px;
  font-weight: 700;
}

.commandpanel {
  position: fixed;
  z-index: 1000;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  border-radius: 5px;
  background-color: #4F5B6288;
}

.answer-img{
  position: absolute;
  height: 16px;
  width: 16px;
  text-align: center;
  top: 16px;
  left: 4px;
}

.answer-text {
  position: absolute;
  width: 20px;
  left: 20px;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
}

.answeryes {
  position: relative;
  background-color: #305745;
}

.answerno {
  position: relative;
  background-color: #573a41;
}

.answerwait {
  position: relative;
  background-color: #F4D03F;
  color: black;
}

.color-text{
  color: #263238
}

.foto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 10;
  border-color: gray;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.foto_img {
  max-height: 100vh;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.balao_A {
  filter: invert(93%) sepia(68%) saturate(2%) hue-rotate(57deg) brightness(107%) contrast(100%) !important;
}
.balao_B {
  filter: invert(0%) sepia(0%) saturate(7497%) hue-rotate(212deg) brightness(90%) contrast(100%) !important;
}
.balao_C {
  filter: invert(17%) sepia(95%) saturate(6747%) hue-rotate(358deg) brightness(128%) contrast(116%) !important;
}
.balao_D {
  filter: invert(15%) sepia(25%) saturate(7375%) hue-rotate(349deg) brightness(87%) contrast(126%) !important;
}
.balao_E {
  filter: invert(90%) sepia(63%) saturate(3562%) hue-rotate(358deg) brightness(108%) contrast(101%) !important;
}
.balao_F {
  filter: invert(26%) sepia(97%) saturate(1646%) hue-rotate(102deg) brightness(90%) contrast(104%) !important;
}
.balao_G {
  filter: invert(8%) sepia(100%) saturate(7474%) hue-rotate(247deg) brightness(92%) contrast(143%) !important;
}
.balao_H {
  filter: invert(10%) sepia(38%) saturate(6078%) hue-rotate(236deg) brightness(106%) contrast(143%) !important;
}
.balao_I {
  filter: invert(16%) sepia(81%) saturate(5328%) hue-rotate(296deg) brightness(117%) contrast(119%) !important;
}
.balao_J {
  filter: invert(11%) sepia(92%) saturate(5890%) hue-rotate(296deg) brightness(66%) contrast(106%) !important;
}
.balao_K {
  filter: invert(54%) sepia(91%) saturate(3217%) hue-rotate(88deg) brightness(126%) contrast(118%) !important;
}
.balao_L {
  filter: invert(90%) sepia(50%) saturate(4791%) hue-rotate(102deg) brightness(100%) contrast(103%) !important;
}
.balao_M {
  filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(91%) contrast(83%) !important;
}
.balao_N {
  filter: invert(86%) sepia(75%) saturate(4397%) hue-rotate(172deg) brightness(97%) contrast(85%) !important;
}
.balao_O {
  filter: invert(99%) sepia(95%) saturate(1238%) hue-rotate(167deg) brightness(100%) contrast(81%) !important;
}

.verde {
  position: relative;
  text-shadow: 0px 1px 2px #000, 0px -1px 2px #000, 1px 0px 2px #000, -1px 0px 2px #000;
}

.vermelho {
  background-color: #ae2538;
}

.amarelo {
  animation: blinkingBackground 2s;
  background-color: #F4D03F;
  color: black;
}

@keyframes blinkingBackground {
  0%      { background-color: #F4D03F; color: black; }
  25%     { background-color: #00ab5e; color: white; }
  50%     { background-color: #F4D03F; color: black; }
  75%     { background-color: #ae2538; color: white; }
  100%    { background-color: #F4D03F; color: black; }
}


.ouro {
  background-color: goldenrod;
}

.prata {
  background-color: rgb(121 121 121);
}

.bronze {
  background-color: rgb(114, 89, 26);
}

.timer {
  font-size: 60px;
  font-family: "Inconsolata", "Ubuntu Mono", monospace;
  text-align: center;
  color: #ffffff;
  text-shadow: -2pt 2pt black;
  margin-top: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.frozen {
  border-color: #004567;
  color: #004567;
}

.frozen::before {
  content: "â„ ";
  font-size: 60px;
}

.center {
  animation: borderUpdate 5s infinite;
}

@keyframes borderUpdate {
  0% { background-color: #8888; }
  100% {  }
}

.changed {
  animation: clockUpdate 1s;
}
@keyframes clockUpdate {
  0% { color: #263238; }
  /* 25%		{ color: green;  }
  50%		{ color: yellow; }
  75%	    { color: red;    } */
  50%	{ color: yellow; }
  100% { color: #263238; }
}

/*
.hora .minuto .segundo {
  float: left;
} */


a {
  color: #336;
}

.sedeslink {
  font-size: 14px;
  font-family: "Lato";
  padding: 2px;
}

.sedesnavigation {
  margin: 3px;
  margin-bottom: 10px;
}

div#runheader > .cell {
  background-color: #263238 !important;
}
