body {
    background-color: black;
    color: white;
}

.cell {
    height: 55px;
    float: left;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.nomeEscola {
    font-size: 20px;
}

.time {
    text-align: right;
    width: 250px;
}

.problema, .colocacao {
    text-align: center;
    width: 75px;
    line-height: 55px;
    font-size: 40px;
}

.login {
    width: 150px;
}

.run {
    height: 80px;
    border-style: solid;
    border-width: 1px;
}