[Unit]
Description=Maratona Animeitor server (Nacional 2026)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ew
Group=ew
WorkingDirectory=/home/ew/maratona-animeitor-rust
Environment=RUST_LOG=info
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/home/ew/maratona-animeitor-rust/target/release/animeitor-server --server-config server.toml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
